<p id="notice"><%= notice %></p>
<h3 class="show-title">Title:</h3>
<p class="show-title-text"><%= @book.title %></p>
<h3 class="show-body">Body:</h3>
<p class="show-body-text"><%= @book.body %></p>
<%= link_to "Edit",edit_book_path(@book) %>
<%= link_to "Back",books_path %>
